In [152]:
import numpy as np
import pandas as pd
from datetime import datetime

Read data

In [153]:
data = pd.read_csv('hour_data.csv', index_col=0, sep=";")

Check for missing data

In [154]:
data.isnull().sum()

AAPL.O     4
MSFT.O     4
GOOGL.O    4
GOOG.O     4
AMZN.O     4
          ..
ADP.O      4
ETN        2
MMC        2
ADI.O      4
CB         2
Length: 100, dtype: int64

Fill missing values with previous observations

In [155]:
data = data.fillna(method='ffill')

Check  if there are no missing values now

In [156]:
data.isnull().sum()

AAPL.O     0
MSFT.O     0
GOOGL.O    0
GOOG.O     0
AMZN.O     0
          ..
ADP.O      0
ETN        0
MMC        0
ADI.O      0
CB         0
Length: 100, dtype: int64

Take natural logarithm of observations

In [157]:
for ind in data.columns:
    data[ind] = (np.log(data[ind]+1e-16))

Calculate returns: take one lag difference

In [159]:
data = data.diff()

Exclude overnight returns

In [161]:
mask = list(range(0, len(data), 7))
data = data.drop(index=data.index[mask])

Square returns

In [163]:
data = data.pow(2)

Create list of trading days

In [165]:
day_index = list(set([x[:-6] for x in data.index]))
day_index.sort(key=lambda date: datetime.strptime(date, "%m/%d/%Y"))

Create empty dataframe for realized volatilty with columns from data and index from trading days

In [166]:
rv = pd.DataFrame(columns = list(data.columns),  index = day_index)

Calculate  daily realized volatilities

In [168]:
for ind in data.columns:
    for i in range(len(rv)):
        start = 6*i
        end = start + 6
        rv[ind][i] = sum(data[ind][start:end])

In [169]:
rv

,AAPL.O,MSFT.O,GOOGL.O,GOOG.O,AMZN.O,NVDA.O,META.O,BRKb,TSLA.O,LLY,...,MDLZ.O,LRCX.O,REGN.O,AMT,PGR,ADP.O,ETN,MMC,ADI.O,CB
1/11/2023,0.00013,0.000072,0.000125,0.00011,0.000259,0.000196,0.000155,0.000047,0.000323,0.000123,...,0.000058,0.000287,0.000251,0.000092,0.000042,0.000038,0.000057,0.000039,0.000053,0.000019
1/12/2023,0.000078,0.000201,0.000077,0.000065,0.000077,0.000959,0.000443,0.000018,0.000628,0.000056,...,0.00005,0.00054,0.000144,0.000229,0.000163,0.000083,0.000051,0.000088,0.000041,0.000069
1/13/2023,0.000139,0.000079,0.000071,0.000065,0.000196,0.000579,0.000032,0.000009,0.001005,0.00002,...,0.000072,0.000113,0.000098,0.000039,0.000006,0.000054,0.000012,0.000044,0.000068,0.000038
1/17/2023,0.000024,0.000043,0.000017,0.00002,0.000084,0.000118,0.000088,0.000028,0.000181,0.000054,...,0.000007,0.000153,0.000055,0.000134,0.000067,0.000099,0.000066,0.000019,0.000068,0.000012
1/18/2023,0.00013,0.000188,0.000092,0.000109,0.00018,0.000234,0.000286,0.000099,0.000996,0.000125,...,0.000195,0.000339,0.000051,0.000368,0.000103,0.000069,0.000254,0.000123,0.000105,0.000126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1/4/2024,0.000038,0.000028,0.000059,0.000049,0.000109,0.000132,0.000052,0.000038,0.000119,0.000345,...,0.000029,0.00014,0.000095,0.00021,0.000174,0.000012,0.000102,0.00001,0.00008,0.000068
1/5/2024,0.000139,0.000075,0.000046,0.000044,0.000086,0.000254,0.000111,0.000018,0.000121,0.000147,...,0.000071,0.000107,0.000088,0.000187,0.000066,0.000017,0.00004,0.000062,0.000069,0.000025
1/8/2024,0.000024,0.000044,0.000035,0.000036,0.000052,0.000183,0.00007,0.000048,0.000155,0.000225,...,0.000025,0.000055,0.000113,0.000071,0.000082,0.000009,0.000074,0.000048,0.000007,0.000042
1/9/2024,0.000061,0.000054,0.000073,0.000064,0.00008,0.000658,0.000055,0.00001,0.000159,0.000067,...,0.000023,0.000064,0.000073,0.000149,0.000046,0.000039,0.000056,0.000018,0.000093,0.000034
1/10/2024,0.000073,0.000059,0.000038,0.000036,0.000046,0.000183,0.000144,0.000024,0.000147,0.000032,...,0.000045,0.000175,0.00007,0.000159,0.000091,0.000007,0.000013,0.000023,0.000018,0.000036

In [175]:
rv.to_csv("rv_data.csv", index=True)